//variables





//lead section style

.lead-section{
    padding: 30px 0;
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}



//Breakpoints

//XM
@media(min-width: 450px){

    .lead-section{
        padding: 50px 0;
    }
}

//SM
@media(min-width: 576px){

    .lead-section{
        padding: 50px 0;
        background-size: cover;
        background-position: center center;
    }
}
//MD
@media(min-width: 768px){

    .lead-section{
        padding: 104px 0;
    }
}


//LG
@media(min-width: 992px){

    .lead-section{
        padding: 129px 0;
    }
}

//XL
@media(min-width: 1200px){

    .lead-section{
        padding: 170px 0;
    }
}

//XXL
@media(min-width: 1500px){

    .lead-section{
        padding: 285px;
    }
}

